
                <div class="container">
                    <div class="span10">
                        <h1>TODO List</h1>
                        <div class="input-append">
                            <input class="span6 title" id="appendedInputButtone" size="30" type="text" />
                            <button class="btn btn-primary create" type="button">作成</button>
                        </div>
                        <table class="table table-striped table-hover todoList">
                            <thead>
                                <tr>
                                    <th>タイトル</th>
                                    <th>作成日</th>
                                    <th>更新日</th>
                                    <th>削除</th>
                                </tr>
                            </thead>
                            <tbody>
<% @todo.each do |t| %>
                                <tr>
                                    <td class="title"><%= t.title %></td>
                                    <td class="created_on"><%= t.created_on.strftime("%Y年%m月%d日 %H時%M分") %></td>
                                    <td class="updated_on"><%= t.updated_on.strftime("%Y年%m月%d日 %H時%M分") %></td>
                                    <td><button class="btn btn-danger delete" value="<%= t.id %>">削除</button></td>
                                </tr>
<% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
