<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODO</title>
        <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css" />
        <script type="text/javascript" src="/js/lib/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/src/todo.js"></script>
    </head>
    <body style="padding-top: 40px">
        <div class="container-fluid">
            <%= yield %>
       </div>
    </body>
</html>
